appdirs==1.4.4
black==22.3.0
click==8.0.4
Faker==13.3.2
flake8==4.0.1
jedi==0.18.1
mccabe==0.6.1
mypy-extensions==0.4.3
parso==0.8.3
pathspec==0.9.0
peewee==3.14.10
peewee-moves==2.1.0
pendulum==2.1.2
platformdirs==2.5.1
prompt-toolkit==3.0.26
ptpython==3.0.20
pycodestyle==2.8.0
pyflakes==2.4.0
Pygments==2.11.2
python-dateutil==2.8.2
python-decouple==3.6
pytzdata==2020.1
six==1.16.0
toml==0.10.2
tomli==2.0.1
tornado==6.1
typing_extensions==4.1.1
wcwidth==0.2.5
